body * {
  box-sizing: border-box;
}

* {
  font-family: 'Roboto', sans-serif;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

header .hamburguer {
  height: 2rem;
  width: 2rem;
  position: fixed;
  z-index: 100;
  right: 2rem;
  top: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
}

.show-menu .hamburguer {
  right: 16rem;
}

.line {
  width: 100%;
  height: 0.1rem;
  background-color: #fff;
  box-shadow: 0.1rem 0.1rem 1px #000;
  transition: transform 1s;
}

.show-menu #line1 {
  transform: rotate(45deg) translate(0.3rem, 0.45rem);
}

.show-menu #line2 {
  opacity: 0;
  visibility: hidden;
}

.show-menu #line3 {
  transform: rotate(-45deg) translate(0.1rem, -0.45rem);
}

.hamburguer span {
  position: absolute;
  left: 3rem;
  height: 2rem;
  width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #02e493;
  color: #fff;
  opacity: 0;
}

.hamburguer span::before {
  content: "";
  position: absolute;
  border-right: 0.5rem solid #02e493;
  border-top: 0.5rem solid transparent;
  border-left: 0.5rem solid transparent;
  border-bottom: 0.5rem solid transparent;
  left: -1rem;
}

.show-menu .hamburguer:hover span {
  opacity: 1;
}

.sidebar {
  width: 20rem;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: -20rem;
  transition: all 1s;
  display: none;
}

.show-menu .sidebar {
  right: 0;
}

.menu {
  position: absolute;
  width: 100%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.menu-item {
  text-align: center;
  margin-bottom: 0.5rem;
}

.menu-link {
  font-size: 2rem;
  color: #555;
  transition: color 1s;
}

.menu-link:hover {
  color: #02e493;
}

header nav {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  background-color: #201b2c;
}

header nav a {
  color: #fff;
  margin-top: 5rem;
}

header nav a:hover {
  font-weight: bold;
}

.main-login {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #201b2c;
}

.left-login {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.left-login > h1 {
  font-size: 2.8vw;
  color: #fafafa;
  padding: 0;
  margin: 0;
}

.left-login > h2 {
  font-size: 2.8vw;
  color: #fafafa;
  font-weight: 200;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  width: 70%;
  margin-bottom: 1rem;
}

.left-login-image {
  width: 35vw;
}

.right-login {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-login {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  background-color: #2f2841;
  border-radius: 1.5rem;
  box-shadow: 0 1rem 1.5 #00000056;
}

.card-login h1 {
  color: #00ff88;
  font-weight: 800;
  margin: 0;
}

.card-login a {
  color: #fafafa;
}

.text-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 1.7rem 0px;
}

.container-options {
  width: 90%;
  margin-bottom: 1rem;
}

.options {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 13pt;
}

.options a {
  text-decoration: none;
  transition: all ease-in-out 500ms;
}

.options a:hover {
  color: #00ff88;
}

.text-field > input {
  width: 100%;
  border: none;
  border: 1rem;
  padding: 0.8rem;
  background-color: #514869;
  color: #f0ffffde;
  font-size: 12pt;
  box-shadow: 0 0.1rem 1rem #00000056;
  outline: none;
  box-sizing: border-box;
  border-radius: 0.5rem;
}

.text-field label {
  color: #f0ffffde;
  margin-bottom: 0.3rem;
}

.text-field input::placeholder {
  color: #f0ffff94;
}

.btn-login {
  width: 80%;
  padding: 0.8rem 0;
  margin: 1rem;
  border: none;
  border-radius: 0.5rem;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.2rem;
  color: #2b134b;
  background-color: #00ff88;
  cursor: pointer;
  box-shadow: 0px 15px 40px -12px #00ff8052;
  transition: all ease-in-out 500ms;
}

.btn-login:hover {
  color: #fafafa;
  background-color: #00ff8859;
}

/* ========================responsividade ======================= */

@media (min-width: 768px) and (max-width: 950px) {
  header .hamburguer {
    display: flex;
  }

  header nav {
    display: none;
  }

  .sidebar {
    display: block;
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  header .hamburguer {
    display: flex;
  }

  header nav {
    display: none;
  }

  .sidebar {
    display: block;
  }
}

@media (min-width: 375px) and (max-width: 425px) {
  header .hamburguer {
    display: flex;
  }

  header nav {
    display: none;
  }

  .sidebar {
    display: block;
  }
}

  @media (min-width: 321px) and (max-width: 375px) {
    header .hamburguer {
      display: flex;
    }
  
    header nav {
      display: none;
    }
  
    .sidebar {
      display: block;
    }
  }

  @media (max-width: 320px) {
    header .hamburguer {
      display: flex;
    }
  
    header nav {
      display: none;
    }
  
    .sidebar {
      display: block;
    }
  }

@media screen and (max-width: 1200px) {
  .options {
    font-size: 11pt;
  }
}

@media screen and (max-width: 950px) {

  .container-options {
    width: 100%; 
    margin-bottom: 1rem;
  }

  .options {
    font-size: 11pt;
  }
}

@media screen and (max-width: 600px) {
  .main-login {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .card-login {
    width: 75%;
  }

  .left-login h1 {
    display: none;
  }

  .left-login h2 {
    display: none;
  }

  .left-login {
    width: 100%;
    height: auto;
  }

  .right-login {
    width: 100%;
    height: auto;
  }

  .left-login-image {
    width: 80vw;
  }

  .card-login {
    width: 90%;
  }
  .options {
    font-size: 12pt;
  }
}
