* {
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 8vh;
    background-color: #EEEDED;

}

nav {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    
}

.logo {
    width: 140px;
    margin-left: 2vw;
}

.bar-btn {
    font-size: 25px;
    color: #000;
    margin-right: 2vw;
    cursor: pointer;
}
.nav-menu {
    position: fixed;
    width: 15%;
    height: 100vh;
    top: 11.5vh;
    text-align: center;
    transition: all 1s;
}

.nav-menu li {
    display: none;
    align-items: center;
    line-height: 10vh;
    transition: all 1s;
}

.nav-menu li a {
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
}

.teste{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.teste i {
    padding-right: 2vw;
}

.nav-menu li a.active,
.nav-menu li a:hover {
    color: rgba(248, 8, 8);
    transition: all 1s;
}

#check {
    display: none;
}

#check:checked~.nav-menu li {
    display: block;
}
#check:checked~.nav-menu{
    background-color: rgba(0, 0, 1, 0.151);
}