* {
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
}

header .hamburguer {
  width: 2rem;
  height: 2rem;
  position: fixed;
  z-index: 100;
  right: 2rem;
  top: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
}

.show-menu .hamburguer {
  right: 16rem;
}

.line {
  width: 100%;
  height: 0.1rem;
  background-color: #fff;
  box-shadow: 0.1rem 0.1rem 1px #000;
  transition: transform 1s;
}

.show-menu #line1 {
  transform: rotate(45deg) translate(0.3rem, 0.45rem);
}

.show-menu #line2 {
  opacity: 0;
  visibility: hidden;
}

.show-menu #line3 {
  transform: rotate(-45deg) translate(0.1rem, -0.45rem);
}
.hamburguer span {
  position: absolute;
  left: 3rem;
  height: 2rem;
  width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #02e493;
  color: #fff;
  opacity: 0;
}

.hamburguer span::before {
  content: "";
  position: absolute;
  border-right: 0.5rem solid #02e493;
  border-top: 0.5rem solid transparent;
  border-left: 0.5rem solid transparent;
  border-bottom: 0.5rem solid transparent;
  left: -1rem;
}

.show-menu .hamburguer:hover span {
  opacity: 1;
}

.sidebar {
  width: 20rem;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: -20rem;
  transition: all 1s;
  display: none;
}

.show-menu .sidebar {
  right: 0;
}

.menu {
  position: absolute;
  width: 100%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.menu-item {
  text-align: center;
  margin-bottom: 0.5rem;
}

.menu-link {
  font-size: 2rem;
  color: #555;
  transition: color 1s;
}

.menu-link:hover {
  color: #02e493;
}

header nav {
  width: 60%;
  height: 13vh;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  padding-left: 30%;
}

header nav a {
  color: #747474;
  margin-top: 5rem;
}

header nav a:hover{
  font-weight: bold;
}

.cadastro {
  color: #fff;
  background-color: #02e493;
  height: 3rem;
  width: 12rem;
  border-radius: 25px; 
  border-color: transparent; 
  cursor: pointer;
}

header nav .cadastro {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15%;
}

header nav .cadastro:hover{
  color: #747474;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 87vh;
  justify-content: space-evenly;
}

.banner h1 {
  font-size: 3rem;
}

.banner p {
  color: #747474;
  text-align: center;
}

/* .banner .cadastro {
  display: flex;
  align-items: center;
  justify-content: center;
 
}
*/
.banner .cadastro:hover {
  color: #747474;
  font-weight: bold;
} 

.informacao {
  height: auto;
  background-color: #02e493;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 3rem;
  padding-bottom: 3rem;
  flex-wrap: wrap;
}

.informacao h1 {
  text-align: center;
  width: 100%;
}

.img-container {
  height: 70%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, auto));
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
}

.img-container .CardUm {
  display: flex;
  justify-content: flex-start;
  width: 45%;
  padding: 1rem;
}

.img-container .CardDois {
  display: flex;
  justify-content: flex-end;
  width: 45%;
  padding: 1rem;
}

.img-container .CardUm img {
  height: 100%;
  width: 30vw;
  border-radius: 8px;
}

.img-container .CardDois img {
  height: 100%;
  width: 30vw;
  border-radius: 8px;
}

.informacao h1 {
  color: #ffffff;
  font-size: 2.5rem;
}

.informacao .cadastro {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  color: #02e493;
  height: 3rem;
  width: 12rem;
  border-radius: 25px;
}

.informacaoDispositivo {
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, auto));
  grid-template-rows: 80vh;
  justify-items: center;
  align-items: center;
  padding-left: 15%;
}

.informacaoDispositivo div {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.informacaoDispositivo .div-dispositivo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

.informacaoDispositivo .div-dispositivo-container .img-dispositivo {
  height: 70%;
  width: 70%;
}

.informacaoDispositivo div h1 {
  font-size: 2.5rem;
  padding-bottom: 1rem;
  text-align: left;
}

.informacaoDispositivo div p {
  color: #747474;
}

.sobre {
  height: 70%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, auto));
  grid-template-rows: auto;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 15%;
  grid-column-gap: 10%;
}

.sobre .div-img-sobre {
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-img-sobre .img-sobre {
  height: 75%;
}

.sobre .containerText {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  width: 80%;
  flex-direction: column;
}

.sobre .containerText h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.sobre .containerText p {
  color: #747474;
}

.quemSomos {
  height: 70%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, auto));
  grid-template-rows: auto;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 15%;
  grid-column-gap: 10%;
}

.quemSomos .div-img-quemSomos {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.div-img-quemSomos .img-quemSomos {
  height: 75%;
  width: 70%;
}

.quemSomos .containerText {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: auto;
  width: 90%;
  flex-direction: column;
}

.quemSomos .containerText h1 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.quemSomos .containerText p {
  color: #747474;
}

.informacaoSuporte {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.informacaoSuporte h1 {
  font-size: 2.5rem;
}

.informacaoSuporte p {
  color: #747474;
}

.informacaoSuporte .barra {
  height: 3%;
  width: 60%;
  background-color: #02e493;
  border-radius: 25px;
}

.informacaoSuporte .conhecerProduto {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: #02e493;
  height: 3rem;
  width: 12rem;
  border-radius: 25px;
}

.informacaoSuporte .conhecerProduto:hover {
  color: #747474;
  font-weight: bold;
}

footer {
  background-color: #747474;
  height: 15vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer p {
  color: #ffffff;
  margin-right: 3%;
}

.img_midiaSocial_container{
  width: 57%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.img_midiaSocial{
  padding-right: 2%;
  width: 3vw;
  height: 100%;
}

/* abrindo modal */
.blackGroundModal{
  width: 100%;
  height: 100%;
  background-color: rgba(10, 10, 10, 0.356);
  position: fixed;
  z-index: 2;
  top: -100%;
  display: block;
  transition: all ease-in-out 2ms;
  
}
.conteudoModal{
  width: 40%;
  height: 75%;
  background-color: #fafafa;
  box-shadow: 1px 1px 1px 1px #00000080;
  border-radius: 4%; 
  margin: 80px auto 0 auto;
  
}

.conteudoModal span{
  float: right;
  cursor: pointer;
  font-size: 22px;
  color: rgb(97, 94, 94);
  margin-top:1vh;
  margin-right: 1vw;
  transition: all ease-in-out 10ms;
  transition-duration: 20s;
  transition-delay: 20s;
}

.conteudoModal span:hover{
  color:#000;
  transition: all 350ms;
}


@media (min-width: 768px) and (max-width: 950px) {
  header .hamburguer {
    display: flex;
  }

  header nav {
    display: none;
  }

  .sidebar {
    display: block;
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  header .hamburguer {
    display: flex;
  }

  header nav {
    display: none;
  }

  .sidebar {
    display: block;
  }

  .banner h1 {
    font-size: 2.5rem;
    text-align: center;
  }

  .informacao h1 {
    font-size: 2rem;
  }

  .img-container .CardUm {
    display: flex;
    justify-content: center;
    width: 45%;
    padding: 1rem;
  }

  .img-container .CardDois {
    display: flex;
    justify-content: center;
    width: 45%;
    padding: 1rem;
  }

  .img-container .CardUm img {
    width: 70vw;
    height: 70vh;
  }

  .img-container .CardDois img {
    width: 70vw;
    height: 70vh;
  }

  .informacaoDispositivo{
    padding-left: 0;
  }

  .informacaoDispositivo div {
    height: 20vh;
    width: 90%;
  }

  .informacaoDispositivo .div-dispositivo-container .img-dispositivo {
    width: 70%;
    height: 70vh;
  }

  .informacaoDispositivo div h1 {
    font-size: 1.5rem;
    flex-wrap: wrap;
  }

  .sobre {
    padding: 0;
    grid-row-gap: 1rem;
  }

  .sobre .div-img-sobre {
    width: 100%;
    margin-top: 8rem;
  }

  .div-img-sobre .img-sobre {
    width: 80%;
    height: 40vh;
  }

  .sobre .containerText {
    width: auto;
    padding: 1rem;
  }

  .sobre .containerText h1 {
    font-size: 1.5rem;
  }

  .quemSomos {
    padding: 0;
    grid-row-gap: 1rem;
  }

  .quemSomos .div-img-quemSomos {
    width: 100%;
    margin-top: 1rem;
    justify-content: center;
  }

  .div-img-quemSomos .img-quemSomos {
    width: 80%;
    height: 40vh;
  }

  .quemSomos .containerText {
    width: auto;
    padding: 1rem;
    text-align: center;
  }

  .quemSomos .containerText h1 {
    font-size: 1.5rem;
  }

  .quemSomos .containerText p {
    text-align: left;
  }

  .informacaoSuporte {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .informacaoSuporte h1 {
    font-size: 1.5rem;
  }

  .informacaoSuporte p {
    text-align: center;
  }

  footer {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .img_midiaSocial_container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .img_midiaSocial{
    padding-right: 0;
    width: 5%;
    height: 5vh;
  }
}

@media (min-width: 375px) and (max-width: 425px) {

  header .hamburguer {
    display: flex;
  }

  header nav {
    display: none;
  }

  .sidebar {
    display: block;
  }

  .banner h1 {
    font-size: 2rem;
    text-align: center;
  }

  .informacao h1 {
    font-size: 2rem;
  }

  .img-container .CardUm {
    display: flex;
    justify-content: center;
    width: 45%;
    padding: 1rem;
  }

  .img-container .CardDois {
    display: flex;
    justify-content: center;
    width: 45%;
    padding: 1rem;
  }

  .img-container .CardUm img {
    width: 70vw;
    height: 70vh;
  }

  .img-container .CardDois img {
    width: 70vw;
    height: 70vh;
  }

  .informacaoDispositivo{
    padding-left: 0;
  }

  .informacaoDispositivo div {
    height: 20vh;
    width: 90%;
  }

  .informacaoDispositivo .div-dispositivo-container .img-dispositivo {
    width: 70%;
    height: 70vh;
  }

  .informacaoDispositivo div h1 {
    font-size: 1.5rem;
    flex-wrap: wrap;
    text-align: center;
  }

  .informacaoDispositivo div p {
    text-align: center;
  }

  .sobre {
    padding: 0;
    grid-row-gap: 1rem;
  }

  .sobre .div-img-sobre {
    width: 100%;
    margin-top: 8rem;
  }

  .div-img-sobre .img-sobre {
    width: 80%;
    height: 40vh;
  }

  .sobre .containerText {
    width: auto;
    padding: 1rem;
  }

  .sobre .containerText h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  .sobre .containerText p {
    text-align: center;
  }

  .quemSomos {
    padding: 0;
    grid-row-gap: 1rem;
  }

  .quemSomos .div-img-quemSomos {
    width: 100%;
    margin-top: 1rem;
    justify-content: center;
  }

  .div-img-quemSomos .img-quemSomos {
    width: 80%;
    height: 40vh;
  }

  .quemSomos .containerText {
    width: auto;
    padding: 1rem;
    text-align: center;
  }

  .quemSomos .containerText h1 {
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
  }

  .informacaoSuporte {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .informacaoSuporte h1 {
    font-size: 1.5rem;
  }

  .informacaoSuporte p {
    text-align: center;
  }

  .informacaoSuporte .barra {
    width: 90%;
  }

  footer {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .img_midiaSocial_container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .img_midiaSocial{
    padding-right: 0;
    width: 8%;
    height: 5vh;
  }
}

@media (min-width: 321px) and (max-width: 375px) {

  header .hamburguer {
    display: flex;
  }

  header nav {
    display: none;
  }

  .sidebar {
    display: block;
  }

  .banner h1 {
    font-size: 2rem;
    text-align: center;
  }

  .informacao h1 {
    font-size: 2rem;
  }

  .img-container .CardUm {
    display: flex;
    justify-content: center;
    width: 45%;
    padding: 1rem;
  }

  .img-container .CardDois {
    display: flex;
    justify-content: center;
    width: 45%;
    padding: 1rem;
  }

  .img-container .CardUm img {
    width: 70vw;
    height: 70vh;
  }

  .img-container .CardDois img {
    width: 70vw;
    height: 70vh;
  }

  .informacaoDispositivo div {
    height: 20vh;
    width: 90%;
  }

  .informacaoDispositivo .div-dispositivo-container .img-dispositivo {
    width: 70%;
    height: 70vh;
  }

  .informacaoDispositivo{
    padding-left: 0;
  }

  .informacaoDispositivo div h1 {
    font-size: 1.5rem;
    flex-wrap: wrap;
    text-align: center;
  }

  .informacaoDispositivo div p {
    text-align: center;
  }

  .sobre {
    padding: 0;
    grid-row-gap: 1rem;
  }

  .sobre .div-img-sobre {
    width: 100%;
    margin-top: 8rem;
  }

  .div-img-sobre .img-sobre {
    width: 80%;
    height: 40vh;
  }

  .sobre .containerText {
    width: auto;
    padding: 1rem;
  }

  .sobre .containerText h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  .sobre .containerText p {
    text-align: center;
  }

  .quemSomos {
    padding: 0;
    grid-row-gap: 1rem;
  }

  .quemSomos .div-img-quemSomos {
    width: 100%;
    margin-top: 1rem;
    justify-content: center;
  }

  .div-img-quemSomos .img-quemSomos {
    width: 80%;
    height: 40vh;
  }

  .quemSomos .containerText {
    width: auto;
    padding: 1rem;
    text-align: center;
  }

  .quemSomos .containerText h1 {
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
  }

  .quemSomos .containerText p {
    text-align: center;
  }

  .informacaoSuporte {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .informacaoSuporte h1 {
    font-size: 1.5rem;
  }

  .informacaoSuporte p {
    text-align: center;
  }

  .informacaoSuporte .barra {
    width: 90%;
  }

  footer {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .img_midiaSocial_container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .img_midiaSocial{
    padding-right: 0;
    width: 10%;
    height: 5vh;
  }
}

@media (max-width: 320px) {

  header .hamburguer {
    display: flex;
  }

  header nav {
    display: none;
  }

  .sidebar {
    display: block;
  }

  .banner h1 {
    font-size: 2rem;
    text-align: center;
  }

  .informacao h1 {
    font-size: 2rem;
  }

  .img-container .CardUm {
    display: flex;
    justify-content: center;
    width: 45%;
    padding: 1rem;
  }

  .img-container .CardDois {
    display: flex;
    justify-content: center;
    width: 45%;
    padding: 1rem;
  }

  .img-container .CardUm img {
    width: 70vw;
    height: 70vh;
  }

  .img-container .CardDois img {
    width: 70vw;
    height: 70vh;
  }

  .informacaoDispositivo{
    padding-left: 0;
  }

  .informacaoDispositivo div {
    height: 20vh;
    width: 90%;
  }

  .informacaoDispositivo .div-dispositivo-container .img-dispositivo {
    width: 70%;
    height: 70vh;
  }

  .informacaoDispositivo div h1 {
    font-size: 1.5rem;
    flex-wrap: wrap;
    text-align: center;
  }

  .informacaoDispositivo div p {
    text-align: center;
  }

  .sobre {
    padding: 0;
    grid-row-gap: 1rem;
  }

  .sobre .div-img-sobre {
    width: 100%;
    margin-top: 8rem;
  }

  .div-img-sobre .img-sobre {
    width: 80%;
    height: 30vh;
  }

  .sobre .containerText {
    width: auto;
    padding: 1rem;
    text-align: center;
  }

  .sobre .containerText h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  .informacaoSuporte {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .quemSomos {
    padding: 0;
    grid-row-gap: 1rem;
  }

  .quemSomos .div-img-quemSomos {
    width: 100%;
    margin-top: 1rem;
    justify-content: center;
  }

  .div-img-quemSomos .img-quemSomos {
    width: 80%;
    height: 30vh;
  }

  .quemSomos .containerText {
    width: auto;
    padding: 1rem;
    text-align: center;
  }

  .quemSomos .containerText h1 {
    font-size: 1.5rem;
  }

  .quemSomos .containerText p {
    text-align: center;
  }

  .informacaoSuporte {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .informacaoSuporte h1 {
    font-size: 1.5rem;
  }

  .informacaoSuporte p {
    text-align: center;
  }

  .informacaoSuporte .barra {
    width: 90%;
  }

  footer {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .img_midiaSocial_container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .img_midiaSocial{
    padding-right: 0;
    width: 11%;
    height: 5vh;
  }
}
